/* src/assets/fonts.css */
@font-face {
    font-family: 'Space Grotesk';
    src: url('./fonts/SpaceGrotesk-Bold.ttf') format('truetype');
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }